// 日历下方的选中日详情面板
.day-panel {
  border-top: 1px solid var(--calendar-color-border);
  padding: 6px 10px;
  flex: 1 1 300px;
  min-width: 300px
}

.day-panel-header {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
  justify-content: space-between;

  .day-panel-title {
    display: flex;
  }
}

.day-panel-actions {
  display: flex;
  gap: 8px;
}

.day-panel-sub {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  padding-left: 4px;
  color: var(--calendar-color-text-tertiary);
}

.day-panel-section {
  margin-bottom: 6px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.day-panel-subtitle {
  font-size: 12px;
  color: var(--calendar-color-text-tertiary);
  margin-bottom: 4px;
}

.day-panel-todo {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 6px;
  border-radius: 6px;
  cursor: pointer;
  background: var(--calendar-color-bg);
  border: 1px solid var(--calendar-color-border);
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    border-color: var(--calendar-color-primary);
  }
}

.day-panel-todo-dot {
  flex: none;
  width: 14px;
  height: 14px;
  border-radius: 3px;
}

.day-panel-todo-name {
  flex: 1;
  min-width: 0;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.day-panel-todo-range {
  flex: none;
  font-size: 11px;
  color: var(--calendar-color-text-tertiary);
  white-space: nowrap;
}

.day-panel-schedule {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 6px;
  border-radius: 6px;
  cursor: pointer;
  background: var(--calendar-color-bg);
  border: 1px solid var(--calendar-color-border);
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    border-color: var(--calendar-color-primary);
  }
}

.day-panel-schedule-icon {
  flex: none;
  display: inline-flex;
}

.day-panel-schedule-name {
  flex: 1;
  min-width: 0;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.day-panel-schedule-time {
  flex: none;
  font-size: 11px;
  color: var(--calendar-color-text-tertiary);
  white-space: nowrap;
}

.day-panel-empty {
  color: var(--calendar-color-text-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 25px);
  font-size: 12px;
}