// 日期格及其内部元素
.day-cell {
  padding: 6px 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &:nth-child(7n) {
    border-right: none;
  }

  &.out .day-num,
  &.out .day-lunar {
    color: var(--calendar-color-text-disabled);
  }

  &.today {
    background: var(--calendar-color-today-bg);
  }

  &.selected {
    background: var(--calendar-color-primary-bg);
    outline: 1px solid var(--calendar-color-primary);
    outline-offset: -1px;
    border-radius: 6px;
    cursor: pointer;

    &.today {
      background: var(--calendar-color-primary-bg);
    }
  }

  &.weekend {
    color: var(--calendar-color-primary);
  }

  &.holiday-work {
    color: inherit;
  }

  &.holiday-off {
    color: var(--calendar-color-primary);
  }

}

.day-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.day-num {
  font-size: 22px;
  font-weight: 650;
  min-width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .day-num {
    font-size: 20px;
  }
}

.day-lunar {
  font-size: 12px;
  color: var(--calendar-color-text-tertiary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.day-holiday {
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.off {
    background: var(--calendar-color-success);
    color: var(--calendar-color-on-accent);
  }

  &.work {
    background: var(--calendar-color-danger);
    color: var(--calendar-color-on-accent);
  }
}

@media screen and (max-width: 500px) {
  .day-holiday {
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
  }
}

.todo-spacer {
  flex: none;
}

.schedule-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: hidden;
}

.schedule-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0;
  gap: 2px;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  white-space: nowrap;

  &:hover .schedule-name {
    color: var(--calendar-color-primary);
  }
}

.schedule-icon {
  flex: none;
  display: inline-flex;
}

.schedule-name {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--calendar-color-border-strong)
}

.schedule-more {
  font-size: 11px;
  color: var(--calendar-color-text-tertiary);
}